### A1.

In [1]:
req_var = ("string", [1, 2 , 3], 5.015, ("tupple", "element"))

In [2]:
print(type(req_var))

<class 'tuple'>

In [3]:
print(type(req_var[0]))

<class 'str'>

In [4]:
print(type(req_var[1]))

<class 'list'>

In [5]:
print(type(req_var[2]))

<class 'float'>

In [6]:
print(type(req_var[3]))

<class 'tuple'>

### A2.

In [7]:
var1 = ''

In [8]:
print(type(var1))

<class 'str'>

In [9]:
var2 = '[DS, ML, Python]'

In [10]:
print(type(var2))

<class 'str'>

In [11]:
var3 = ['DS', 'ML', 'Python']

In [12]:
print(type(var3))

<class 'list'>

In [13]:
var4 = 1

In [14]:
print(type(var4))

<class 'int'>

### A3.

In [15]:
# / is used to divide a by b.
a, b = 5, 3
print('Division: ', a/b)

Division:  1.6666666666666667

In [16]:
# % 'Modulo' is used to get the remainder
print(a%b)

2

In [17]:
# // is used to floor divide a by b.
print(a//b)

1

In [18]:
# ** is used to get 'a' to the power 'b'.
print(a ** b)

125

### A4.

In [19]:
my_list = (11, 11.11, "String", ['x', 'y', 'z'], 15.0, 'x', [1 , 2 , 3], 8665, {'a':1}, (2, 4, 6))

In [20]:
len(my_list)

10

In [21]:
for i in my_list:
    print(i, type(i))

11 <class 'int'>
11.11 <class 'float'>
String <class 'str'>
['x', 'y', 'z'] <class 'list'>
15.0 <class 'float'>
x <class 'str'>
[1, 2, 3] <class 'list'>
8665 <class 'int'>
{'a': 1} <class 'dict'>
(2, 4, 6) <class 'tuple'>

### A5.

In [22]:
def is_divisible(a, b):
    # Returns True if a is divisible by b, False otherwise.
  if a % b == 0:
    return True
  else:
    return False

def count_divisibilty(a, b):
    # Returns the number of times a is divisible by b.
  count = 0
  while is_divisible(a, b):
    count += 1
    a //= b
  return count

if __name__ == "__main__":
  a = 80
  b = 2
  print("Is {} divisible by {}? {}".format(a, b, is_divisible(a, b)))
  print("The number of times {} is divisible by {} is {}".format(a, b, count_divisibilty(a, b)))

Is 80 divisible by 2? True
The number of times 80 is divisible by 2 is 4

### A6.

In [26]:
my_list = (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25)
for i in my_list:
    if (i % 3 == 0):
        print(i,"is divisible by 3.")
    else:
        print(i,"is not Divisible by 3.")

1 is not Divisible by 3.
2 is not Divisible by 3.
3 is divisible by 3.
4 is not Divisible by 3.
5 is not Divisible by 3.
6 is divisible by 3.
7 is not Divisible by 3.
8 is not Divisible by 3.
9 is divisible by 3.
10 is not Divisible by 3.
11 is not Divisible by 3.
12 is divisible by 3.
13 is not Divisible by 3.
14 is not Divisible by 3.
15 is divisible by 3.
16 is not Divisible by 3.
17 is not Divisible by 3.
18 is divisible by 3.
19 is not Divisible by 3.
20 is not Divisible by 3.
21 is divisible by 3.
22 is not Divisible by 3.
23 is not Divisible by 3.
24 is divisible by 3.
25 is not Divisible by 3.

### A7.

#### Mutable data types can be changed after they have been created, while immutable data types cannot be changed.
examples: Mutable- list, dictionary, set
        Immutable- integer, float, string, tuple

In [28]:
# Mutable Data Type
list = [1, 2, 3, 4, 5, 6]
# Change the value of index 3 from 4 to 11.
list[3] = 11
print(list)

[1, 2, 3, 11, 5, 6]

In [29]:
# Immutable Data Type
tuple = (1, 2, 3, 4, 5, 6)
#Try to change the value of index 3 from 4 to 11.
tuple[3] = 11
print(tuple)

TypeError: 'tuple' object does not support item assignment